@charset "UTF-8";
/* CSS Document */
/* line 30, ../../../master/scss/_master_var.scss */
.exampleVar {
  font-family: Arial;
}

/* CSS Document */
@font-face {
  font-family: 'ComeniaSansCondRegular';
  src: url("http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co-webfont.eot");
  src: local("☺"), url("http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co-webfont.woff") format("woff"), url("http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co-webfont.ttf") format("truetype"), url("http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co-webfont.svg#webfontWDfTSCpx") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ComeniaSansCondBold';
  src: url("http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co_bold-webfont.eot");
  src: local("☺"), url("http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co_bold-webfont.woff") format("woff"), url("http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co_bold-webfont.ttf") format("truetype"), url("http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co_bold-webfont.svg#webfont7RYPTQcC") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 74, ../../../master/scss/_master_css.scss */
article {
  width: 100%;
}
/* line 76, ../../../master/scss/_master_css.scss */
article h1 {
  font-size: 2.25rem;
  color: #000;
  font-family: 'ComeniaSansCondRegular';
  line-height: 39px;
  padding-top: 2px;
}
/* line 83, ../../../master/scss/_master_css.scss */
article h2 {
  font-size: 1.5rem;
  font-family: 'ComeniaSansCondRegular';
  color: #222;
  padding: 0.5rem 0 0.125rem 0;
  line-height: 24px;
}
/* line 90, ../../../master/scss/_master_css.scss */
article h3, article h4, article h5, article h6 {
  font-size: 1.25rem;
  font-family: 'ComeniaSansCondRegular';
  color: #222;
  padding: 0.625rem 0 0.6875rem 0;
  line-height: 21px;
  margin: 0 0 -0.25rem 0;
}
/* line 98, ../../../master/scss/_master_css.scss */
article p {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
  color: #222;
  font-size: 0.9375rem;
  padding: 0.5625rem 0 0.5625rem 0;
  line-height: 21px;
  margin: 0;
}
/* line 107, ../../../master/scss/_master_css.scss */
article a a {
  color: #7c2142;
  font-weight: bold;
}
/* line 110, ../../../master/scss/_master_css.scss */
article a a:hover {
  color: #222;
}
/* line 115, ../../../master/scss/_master_css.scss */
article strong {
  font-weight: bold;
}
/* line 118, ../../../master/scss/_master_css.scss */
article em {
  font-style: italic;
}
/* line 121, ../../../master/scss/_master_css.scss */
article ul {
  list-style-type: disc;
  padding: 0.25rem 0 0.25rem 1.5625rem;
  line-height: 21px;
  margin: 0;
}
/* line 126, ../../../master/scss/_master_css.scss */
article ul li {
  padding: 0.25rem 0 0.25rem 0;
  margin: 0;
}
/* line 129, ../../../master/scss/_master_css.scss */
article ul li ul {
  list-style-type: circle;
  padding-bottom: 0;
}
/* line 132, ../../../master/scss/_master_css.scss */
article ul li ul li:last-of-type {
  padding-bottom: 0px;
}
/* line 138, ../../../master/scss/_master_css.scss */
article blockquote {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
  color: #222;
  padding: 0 1rem 0 1rem;
  margin: 0.375rem 0 0 0;
  font-style: italic;
  border: none;
}
/* line 150, ../../../master/scss/_master_css.scss */
article .article-additional {
  width: 100%;
  padding: 0.5rem 0 0.5rem 0;
}
@media screen and (max-width: 767px) {
  /* line 150, ../../../master/scss/_master_css.scss */
  article .article-additional {
    padding: 0.9375rem 0 0.9375rem 0;
  }
}
/* line 156, ../../../master/scss/_master_css.scss */
article .article-additional .image-content {
  width: 100%;
}
/* line 159, ../../../master/scss/_master_css.scss */
article .article-additional .caption {
  background-color: #222;
  color: #fff;
  padding: 0.4375rem 0.625rem 0.4375rem 0.625rem;
}
/* line 163, ../../../master/scss/_master_css.scss */
article .article-additional .caption p {
  font-size: 0.875rem;
  color: #fff;
  padding: 0;
  margin: 0;
}
/* line 170, ../../../master/scss/_master_css.scss */
article .article-additional .video-content {
  position: relative;
  padding-bottom: 57.25%;
  padding-top: 1.875rem;
  height: 0;
  overflow: hidden;
  margin-bottom: 0;
}
/* line 177, ../../../master/scss/_master_css.scss */
article .article-additional .video-content iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* CSS Document */
/* line 12, ../scss/_local_var.scss */
.examplestyle {
  weight: 12.5rem;
}

/* line 347, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-version {
  font-family: "/5.5.0/";
}

/* line 351, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0em;
}

/* line 356, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-small-only {
  font-family: "/only screen and (max-width: 40em)/";
  width: 0em;
}

/* line 361, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.063em)/";
  width: 40.063em;
}

/* line 366, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-medium-only {
  font-family: "/only screen and (min-width:40.063em) and (max-width:64em)/";
  width: 40.063em;
}

/* line 371, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.063em)/";
  width: 64.063em;
}

/* line 376, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-large-only {
  font-family: "/only screen and (min-width:64.063em) and (max-width:90em)/";
  width: 64.063em;
}

/* line 381, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em;
}

/* line 386, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-xlarge-only {
  font-family: "/only screen and (min-width:90.063em) and (max-width:120em)/";
  width: 90.063em;
}

/* line 391, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em;
}

/* line 396, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-data-attribute-namespace {
  font-family: false;
}

/* line 403, ../bower_components/foundation/scss/foundation/components/_global.scss */
html, body {
  height: 100%;
}

/* line 406, ../bower_components/foundation/scss/foundation/components/_global.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 412, ../bower_components/foundation/scss/foundation/components/_global.scss */
html,
body {
  font-size: 100%;
}

/* line 416, ../bower_components/foundation/scss/foundation/components/_global.scss */
body {
  background: #fff;
  color: #222;
  padding: 0;
  margin: 0;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  position: relative;
  cursor: auto;
}

/* line 429, ../bower_components/foundation/scss/foundation/components/_global.scss */
a:hover {
  cursor: pointer;
}

/* line 432, ../bower_components/foundation/scss/foundation/components/_global.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 434, ../bower_components/foundation/scss/foundation/components/_global.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 438, ../bower_components/foundation/scss/foundation/components/_global.scss */
#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important;
}

/* line 445, ../bower_components/foundation/scss/foundation/components/_global.scss */
.left {
  float: left !important;
}

/* line 446, ../bower_components/foundation/scss/foundation/components/_global.scss */
.right {
  float: right !important;
}

/* line 172, ../bower_components/foundation/scss/foundation/components/_global.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 173, ../bower_components/foundation/scss/foundation/components/_global.scss */
.clearfix:after {
  clear: both;
}

/* line 450, ../bower_components/foundation/scss/foundation/components/_global.scss */
.hide {
  display: none !important;
  visibility: hidden;
}

/* line 456, ../bower_components/foundation/scss/foundation/components/_global.scss */
.invisible {
  visibility: hidden;
}

/* line 462, ../bower_components/foundation/scss/foundation/components/_global.scss */
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 465, ../bower_components/foundation/scss/foundation/components/_global.scss */
img {
  display: inline-block;
  vertical-align: middle;
}

/* line 475, ../bower_components/foundation/scss/foundation/components/_global.scss */
textarea {
  height: auto;
  min-height: 50px;
}

/* line 478, ../bower_components/foundation/scss/foundation/components/_global.scss */
select {
  width: 100%;
}

/* line 232, ../bower_components/foundation/scss/foundation/components/_grid.scss */
.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 67.5rem;
}
/* line 172, ../bower_components/foundation/scss/foundation/components/_global.scss */
.row:before, .row:after {
  content: " ";
  display: table;
}
/* line 173, ../bower_components/foundation/scss/foundation/components/_global.scss */
.row:after {
  clear: both;
}
/* line 236, ../bower_components/foundation/scss/foundation/components/_grid.scss */
.row.collapse > .column,
.row.collapse > .columns {
  padding-left: 0;
  padding-right: 0;
}
/* line 239, ../bower_components/foundation/scss/foundation/components/_grid.scss */
.row.collapse .row {
  margin-left: 0;
  margin-right: 0;
}
/* line 242, ../bower_components/foundation/scss/foundation/components/_grid.scss */
.row .row {
  width: auto;
  margin-left: -0.15625rem;
  margin-right: -0.15625rem;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
}
/* line 172, ../bower_components/foundation/scss/foundation/components/_global.scss */
.row .row:before, .row .row:after {
  content: " ";
  display: table;
}
/* line 173, ../bower_components/foundation/scss/foundation/components/_global.scss */
.row .row:after {
  clear: both;
}
/* line 243, ../bower_components/foundation/scss/foundation/components/_grid.scss */
.row .row.collapse {
  width: auto;
  margin: 0;
  max-width: none;
}
/* line 172, ../bower_components/foundation/scss/foundation/components/_global.scss */
.row .row.collapse:before, .row .row.collapse:after {
  content: " ";
  display: table;
}
/* line 173, ../bower_components/foundation/scss/foundation/components/_global.scss */
.row .row.collapse:after {
  clear: both;
}

/* line 247, ../bower_components/foundation/scss/foundation/components/_grid.scss */
.column,
.columns {
  padding-left: 0.15625rem;
  padding-right: 0.15625rem;
  width: 100%;
  float: left;
}

/* line 250, ../bower_components/foundation/scss/foundation/components/_grid.scss */
[class*="column"] + [class*="column"]:last-child {
  float: right;
}

/* line 251, ../bower_components/foundation/scss/foundation/components/_grid.scss */
[class*="column"] + [class*="column"].end {
  float: left;
}

@media only screen {
  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-push-0 {
    position: relative;
    left: 0%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-pull-0 {
    position: relative;
    right: 0%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }

  /* line 167, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .column,
  .columns {
    position: relative;
    padding-left: 0.15625rem;
    padding-right: 0.15625rem;
    float: left;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-1 {
    width: 8.33333%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-2 {
    width: 16.66667%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-3 {
    width: 25%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-4 {
    width: 33.33333%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-5 {
    width: 41.66667%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-6 {
    width: 50%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-7 {
    width: 58.33333%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-8 {
    width: 66.66667%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-9 {
    width: 75%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-10 {
    width: 83.33333%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-11 {
    width: 91.66667%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-12 {
    width: 100%;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-offset-0 {
    margin-left: 0% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-offset-1 {
    margin-left: 8.33333% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-offset-2 {
    margin-left: 16.66667% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-offset-3 {
    margin-left: 25% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-offset-4 {
    margin-left: 33.33333% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-offset-5 {
    margin-left: 41.66667% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-offset-6 {
    margin-left: 50% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-offset-7 {
    margin-left: 58.33333% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-offset-8 {
    margin-left: 66.66667% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-offset-9 {
    margin-left: 75% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-offset-10 {
    margin-left: 83.33333% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-offset-11 {
    margin-left: 91.66667% !important;
  }

  /* line 179, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left;
  }

  /* line 187, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .column.small-centered,
  .columns.small-centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  /* line 190, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .column.small-uncentered,
  .columns.small-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left;
  }

  /* line 198, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .column.small-centered:last-child,
  .columns.small-centered:last-child {
    float: none;
  }

  /* line 204, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .column.small-uncentered:last-child,
  .columns.small-uncentered:last-child {
    float: left;
  }

  /* line 209, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .column.small-uncentered.opposite,
  .columns.small-uncentered.opposite {
    float: right;
  }

  /* line 216, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .row.small-collapse > .column,
  .row.small-collapse > .columns {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 219, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .row.small-collapse .row {
    margin-left: 0;
    margin-right: 0;
  }
  /* line 222, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .row.small-uncollapse > .column,
  .row.small-uncollapse > .columns {
    padding-left: 0.15625rem;
    padding-right: 0.15625rem;
    float: left;
  }
}
@media only screen and (min-width: 40.063em) {
  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-push-0 {
    position: relative;
    left: 0%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-pull-0 {
    position: relative;
    right: 0%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }

  /* line 167, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .column,
  .columns {
    position: relative;
    padding-left: 0.15625rem;
    padding-right: 0.15625rem;
    float: left;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-1 {
    width: 8.33333%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-2 {
    width: 16.66667%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-3 {
    width: 25%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-4 {
    width: 33.33333%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-5 {
    width: 41.66667%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-6 {
    width: 50%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-7 {
    width: 58.33333%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-8 {
    width: 66.66667%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-9 {
    width: 75%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-10 {
    width: 83.33333%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-11 {
    width: 91.66667%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-12 {
    width: 100%;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-offset-0 {
    margin-left: 0% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-offset-1 {
    margin-left: 8.33333% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-offset-2 {
    margin-left: 16.66667% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-offset-3 {
    margin-left: 25% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-offset-4 {
    margin-left: 33.33333% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-offset-5 {
    margin-left: 41.66667% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-offset-6 {
    margin-left: 50% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-offset-7 {
    margin-left: 58.33333% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-offset-8 {
    margin-left: 66.66667% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-offset-9 {
    margin-left: 75% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-offset-10 {
    margin-left: 83.33333% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-offset-11 {
    margin-left: 91.66667% !important;
  }

  /* line 179, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left;
  }

  /* line 187, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .column.medium-centered,
  .columns.medium-centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  /* line 190, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .column.medium-uncentered,
  .columns.medium-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left;
  }

  /* line 198, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .column.medium-centered:last-child,
  .columns.medium-centered:last-child {
    float: none;
  }

  /* line 204, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .column.medium-uncentered:last-child,
  .columns.medium-uncentered:last-child {
    float: left;
  }

  /* line 209, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .column.medium-uncentered.opposite,
  .columns.medium-uncentered.opposite {
    float: right;
  }

  /* line 216, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .row.medium-collapse > .column,
  .row.medium-collapse > .columns {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 219, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .row.medium-collapse .row {
    margin-left: 0;
    margin-right: 0;
  }
  /* line 222, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .row.medium-uncollapse > .column,
  .row.medium-uncollapse > .columns {
    padding-left: 0.15625rem;
    padding-right: 0.15625rem;
    float: left;
  }

  /* line 261, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-0 {
    position: relative;
    left: 0%;
    right: auto;
  }

  /* line 264, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-0 {
    position: relative;
    right: 0%;
    left: auto;
  }

  /* line 261, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }

  /* line 264, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }

  /* line 261, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }

  /* line 264, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }

  /* line 261, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }

  /* line 264, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }

  /* line 261, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }

  /* line 264, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }

  /* line 261, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }

  /* line 264, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }

  /* line 261, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }

  /* line 264, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }

  /* line 261, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }

  /* line 264, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }

  /* line 261, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }

  /* line 264, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }

  /* line 261, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }

  /* line 264, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }

  /* line 261, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }

  /* line 264, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }

  /* line 261, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }

  /* line 264, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }
}
@media only screen and (min-width: 64.063em) {
  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-push-0 {
    position: relative;
    left: 0%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-pull-0 {
    position: relative;
    right: 0%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }

  /* line 167, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .column,
  .columns {
    position: relative;
    padding-left: 0.15625rem;
    padding-right: 0.15625rem;
    float: left;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-1 {
    width: 8.33333%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-2 {
    width: 16.66667%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-3 {
    width: 25%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-4 {
    width: 33.33333%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-5 {
    width: 41.66667%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-6 {
    width: 50%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-7 {
    width: 58.33333%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-8 {
    width: 66.66667%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-9 {
    width: 75%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-10 {
    width: 83.33333%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-11 {
    width: 91.66667%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-12 {
    width: 100%;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-offset-0 {
    margin-left: 0% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-offset-1 {
    margin-left: 8.33333% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-offset-2 {
    margin-left: 16.66667% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-offset-3 {
    margin-left: 25% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-offset-4 {
    margin-left: 33.33333% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-offset-5 {
    margin-left: 41.66667% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-offset-6 {
    margin-left: 50% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-offset-7 {
    margin-left: 58.33333% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-offset-8 {
    margin-left: 66.66667% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-offset-9 {
    margin-left: 75% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-offset-10 {
    margin-left: 83.33333% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-offset-11 {
    margin-left: 91.66667% !important;
  }

  /* line 179, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left;
  }

  /* line 187, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .column.large-centered,
  .columns.large-centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  /* line 190, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .column.large-uncentered,
  .columns.large-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left;
  }

  /* line 198, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .column.large-centered:last-child,
  .columns.large-centered:last-child {
    float: none;
  }

  /* line 204, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .column.large-uncentered:last-child,
  .columns.large-uncentered:last-child {
    float: left;
  }

  /* line 209, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .column.large-uncentered.opposite,
  .columns.large-uncentered.opposite {
    float: right;
  }

  /* line 216, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .row.large-collapse > .column,
  .row.large-collapse > .columns {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 219, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .row.large-collapse .row {
    margin-left: 0;
    margin-right: 0;
  }
  /* line 222, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .row.large-uncollapse > .column,
  .row.large-uncollapse > .columns {
    padding-left: 0.15625rem;
    padding-right: 0.15625rem;
    float: left;
  }

  /* line 272, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-0 {
    position: relative;
    left: 0%;
    right: auto;
  }

  /* line 275, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-0 {
    position: relative;
    right: 0%;
    left: auto;
  }

  /* line 272, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }

  /* line 275, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }

  /* line 272, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }

  /* line 275, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }

  /* line 272, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }

  /* line 275, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }

  /* line 272, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }

  /* line 275, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }

  /* line 272, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }

  /* line 275, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }

  /* line 272, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }

  /* line 275, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }

  /* line 272, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }

  /* line 275, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }

  /* line 272, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }

  /* line 275, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }

  /* line 272, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }

  /* line 275, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }

  /* line 272, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }

  /* line 275, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }

  /* line 272, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }

  /* line 275, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }
}
/* CSS Document */
/* line 36, ../scss/_local_css.scss */
body {
  background-color: #fff;
}

/* line 40, ../scss/_local_css.scss */
header {
  position: fixed;
  height: 50px;
  top: 0px;
  margin: auto;
  z-index: 100000;
  background-color: #fff;
}
/* line 47, ../scss/_local_css.scss */
header .logo {
  overflow: visible;
}

/* line 52, ../scss/_local_css.scss */
.navArrows {
  background-color: #eee;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* line 59, ../scss/_local_css.scss */
.full-width {
  width: 100%;
  /*height: 100%;*/
  box-sizing: border-box;
  background-color: #eee;
}
/* line 64, ../scss/_local_css.scss */
.full-width.depth {
  /*background-image: url("http://charlesleonthompson.com/wp-content/uploads/2014/12/IMG_3122-1024x1280.jpg");

  position: relative;
  width: 100%;
  height: 60%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 2.5%;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  */
  width: 100%;
  height: 350px;
  position: relative;
  /*padding-top: 1.875rem;*/
  overflow: hidden;
  /*
  
  margin-bottom: 0;
  */
}
/* line 89, ../scss/_local_css.scss */
.full-width.depth img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
}
@media screen and (max-width: 849px) and (min-width: 768px) {
  /* line 89, ../scss/_local_css.scss */
  .full-width.depth img {
    max-width: 1080px;
    height: auto;
  }
}
/* line 99, ../scss/_local_css.scss */
.full-width.depth section {
  position: absolute;
  top: 0;
  left: 0%;
  right: 0%;
}
/* line 105, ../scss/_local_css.scss */
.full-width.depth .in {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  padding-right: 10px;
  right: 0px;
  top: 150px;
}

/* line 117, ../scss/_local_css.scss */
header, footer {
  border: 1px solid #781a42;
  width: 100%;
}

/* line 123, ../scss/_local_css.scss */
section {
  border: 1px solid #666;
  width: 100%;
}
/* line 126, ../scss/_local_css.scss */
section h1 {
  font-family: 'ComeniaSansCondRegular';
  font-size: 2.25rem;
  color: #781a42;
}
/* line 131, ../scss/_local_css.scss */
section h2 {
  font-size: 1.125rem;
  font-family: 'ComeniaSansCondRegular';
  text-transform: uppercase;
  color: #444;
  padding: 0 0 0.4375rem 0;
}
/* line 138, ../scss/_local_css.scss */
section h3, section h4, section h5, section h6 {
  font-size: 1rem;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
  color: #000;
  padding: 0 0 0 0;
  line-height: 18px;
  margin: 0 0 0 0;
}
/* line 146, ../scss/_local_css.scss */
section p {
  font-size: 0.8125rem;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
  color: #222;
  padding: 0.5625rem 0 0.5625rem 0;
  line-height: 16px;
  margin: 0;
}
/* line 154, ../scss/_local_css.scss */
section a {
  color: #781a42;
  font-weight: bold;
}
/* line 157, ../scss/_local_css.scss */
section a:hover {
  color: #666;
}
/* line 161, ../scss/_local_css.scss */
section strong {
  font-weight: bold;
}
/* line 164, ../scss/_local_css.scss */
section em {
  font-style: italic;
}
