@charset "utf-8";
/* CSS Document */

//
// Custom Styles 
//

// Media Query Starts
// @media #{$Five00} {}
// @media #{$Phone} {}
// @media #{$iPadPortrait} {} 
// @media #{$Desktop} {}

// @media #{$Small} {}
// @media #{$Medium} {}
// @media #{$Large} {}
// @media #{$xLarge} {}

// Fonts Sizes - OVERRIDE
  $h1-font-size: rem-calc(36); // $h1-font-size: rem-calc(44);  // not used yet
  $h2-font-size: rem-calc(22); // $h2-font-size: rem-calc(37);  // 22
  $h3-font-size: rem-calc(18); // $h3-font-size: rem-calc(27);  // 18

  $h4-font-size: rem-calc(14); // $h4-font-size: rem-calc(23);  // not used yet
  $h5-font-size: rem-calc(15); // $h5-font-size: rem-calc(18);  // not used yet
  $h6-font-size: rem-calc(16); // $h6-font-size: 1rem;          // not used yet

// Typical Paragraphs
  $paragraph-font-size: rem-calc(15); // 15 
  $footer-font-size: rem-calc(12); //12

// Backgrounds and Sprite Sheets
  $background-d: url('http://www.brooklyn.cuny.edu/web/sup_foundation/diagonals.png');
  $SpriteSheet: url('http://www.brooklyn.cuny.edu/web/sup_foundation/BOB_spriteSheet_256x142.png');

// Colors
  $color-maroon: #781a42; //#7c2142 BCF
  $color-maroon2: #5d0d2f;
  $color-black: #000;
  $color-white: #fff;
  $color-gray222: #222; // starting additional colors
  $color-gray444: #444;
  $color-gray555: #555;
  $color-gray666: #666;
  $color-grayccc: #ccc;
  $color-grayeee: #eee;
  $color-grayefe: #efefef;

// Line Styles
  $thick-maroon: 8px solid $color-maroon;
  $thin-gray666: 1px solid $color-gray666;
  $thin-grayccc: 1px solid $color-grayccc;
  $thin-maroon2: 2px solid $color-maroon2;

body {
  background-color: $color-white;
}

 .main-section {
    //display: none;
    //height: 300px;
    //position: static;
    //z-index: -20000;
  }



header {
  width: 100%;
  //background-image: $background-d;
  //height: rem-calc(55);
  top:0px; 
  //margin:auto; 
  position: fixed;
  z-index: 1000;
  //background-color: #fff;
  section {
    //width: 100%;
    //position: fixed;
    //top:0px;
    background-image: $background-d;
    height: rem-calc(55);
    @media #{$Small} {
      height: rem-calc(45); // 45
    }
    .logo {
      position:fixed;
      top:0;
      //z-index: 2;
      overflow: visible;
      padding: rem-calc(15) 0 0 rem-calc(20);
      width: 163px;
      height: 85px;
      @media #{$Medium} {
        padding: rem-calc(12) 0 0 rem-calc(10);
        width: 132px;
        height: 69px;
      }
      @media #{$Small} {
        padding: rem-calc(12) 0 0 rem-calc(10); // 5 5
        width: 132px; // 107
        height: 69px; // 56
      }
    }
  }
  nav {

    ul{
      list-style-type: none;
      text-transform: uppercase;
      //display: table;
      li {
        font-family: 'ComeniaSansCondBold';
        font-size: $h6-font-size;
        //color: $color-maroon;

        display: inline-block;
        padding: rem-calc(16) rem-calc(33) 0 0;
        //display: table-cell;
        //vertical-align: middle;
        &:last-of-type {
          padding-right: rem-calc(20);
        }
        a {
          color: $color-black;
          //font-weight: $bold;
          &:hover {
            color: $color-gray666;
          }
        }
      }
    }
  }
}







  



.anchor {
  position: relative;
  display: block;
  top: -78px;
  height: 0;
  width: 0;
  visibility: hidden;
}

/*.full-width {
  //width: 100%;
  //height: 100%;//
  //box-sizing: border-box;
  //background-color: $color-grayeee;

  &.depth {
    background-image: url("http://charlesleonthompson.com/wp-content/uploads/2014/12/IMG_3122-1024x1280.jpg");
  
    position: relative;
    width: 100%;
    height: 60%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 2.5%;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    
    
    //width: 100%;
    //height: 350px;
    //position: relative;
    //padding-top: 1.875rem;/
    //overflow: hidden;

    margin-bottom: 0;

    img {
      overflow: hidden;
      height: 350px;
      //display: block;
      //margin-left: auto;
      //margin-right: auto;
      //z-index: -1;
      @media #{$iPadPortrait} { //needs work!
        max-width:1080px;
        height:auto;
      }
    }
    section {
      //position: absolute;
      top:0;
      left:0%;
      right:0%;
    }
    .in {
      //position: absolute;
      margin-left: auto;
      margin-right: auto;
      z-index: 2;
      padding-right: 10px;
      right:0px;
      top: 150px;
    }

  }
}*/



.content {
  margin-top: 20px;
  .rowInside {
    //border: 1px solid #ccc;
    padding: 0px 75px 30px 75px;
    //border-left: 75px solid $color-white;
    //border-right: 75px solid $color-white;
    @media #{$Medium} {
      padding: 0px 10px 30px 10px;
    }
    @media #{$Small} {
      padding: 0px 0px 15px 0px;
    } 
    &.splash {
      //border: 1px solid #000;
      padding: 30px 0px 30px 0px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
    .sectionObject {
      //border: 1px solid #000;
      padding: 0px 30px 0px 30px;
      @media #{$Medium} {
        padding: 10px 10px 0px 10px;
      }
      @media #{$Small} {
        padding: 10px 10px 10px 10px;
      }
      .sectionHeaderLine {
        border-top: $thin-grayccc;
        margin: 0 rem-calc(0) rem-calc(20) rem-calc(0);
      }
      .contentElements {
        //border: 1px solid #000;
        margin: 0 rem-calc(0) 0 rem-calc(0);
        padding: 0 rem-calc(10) 0 rem-calc(10);
        @media #{$Small} {
          padding: 0px 0px 0px 0px;
        }
      }
      .featureTop {
        //margin: 20px 10px 15px 10px;
      }
      .featureBottom {
        //margin: 20px 10px 0px 10px;
      }
      .iconGray{
          background-color: $color-grayeee;
        }
      .icon {
        //border: 1px solid #000;
        display: table;
        height: 65px;        
        padding: 5px 0 0px 0;
        margin: 15px 0px 15px 0px;
        &:last-of-type{
          padding-bottom: 0px;
        }
        img {
          //border: 1px solid #000;
          display: table-cell;
          float: left;
          margin: 0 rem-calc(10) 0 rem-calc(10);
          //position: relative;
          //top: 50%;
          //transform: translateY(-50%);
        }
        p {
          //border: 1px solid #000;
          display: table-cell;
          vertical-align: middle;
          //position: relative;
          //top: 45%;
          //transform: translateY(-50%);
          //margin-left: 75px;
        }
      }
      .bobButtonW {
        margin: 20px 10px 15px 10px;
      }
      .bobButton {
        //height: 55px;
        background-color: $color-maroon;
        border: $thin-maroon2;
        padding: 17px 0px 17px 0;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        &:hover {
          background-color: $color-maroon2;
        }
        p {
          color: $color-white;
          font-size: $h2-font-size;
          font-family: 'ComeniaSansCondBold';
          text-transform: uppercase;
        }
      }
      .map {
        position: relative;
        padding-bottom: 100%;
        //padding: 0 10px 100% 10px;
        margin: 0px 0px 10px 0px;
        height: 0;
        overflow: hidden;
        iframe {
          position: absolute;
          top:0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
      img {
        float: left;
        margin: 0 rem-calc(20) 0 rem-calc(20);
      }
      h1 {
        font-family: 'ComeniaSansCondBold';
        font-size: $h1-font-size;
        color: $color-maroon;
      }
      h2 {
        //border: 1px solid #000;
        font-size: $h2-font-size;
        font-family: 'ComeniaSansCondBold';
        color: $color-gray444;
        padding: 0 0 10px 0;
        margin: 0 0 0 0;
        &.objectHeader {
          text-transform: uppercase;
          text-align: center;
          padding: 0 0 0 0;
          margin: 0 0 0 0;
        }
      }
      h3, h4, h5, h6 {
        //border: 1px solid #000;
        font-size: $h3-font-size;
        font-family: $font-lucida-Demibold;
        color: $color-black;
        padding: 15px 0 2px 0;
        margin: 0 0 0 0;
        line-height: 22px; //22
        &:first-of-type {
          padding-top: 0;
        }
      }
      p {
        //border: 1px solid #000;
        font-size: $paragraph-font-size;
        font-family: $font-lucida;
        color: $color-black;
        padding: 3px 0 15px 0;
        margin: 0 0 0 0;
        line-height: 19px; //19
        &:first-of-type {
          padding-top: 0;
        }
        &:last-of-type {
          padding-bottom: 0;
        }
      }
      ul {
        li {

        }
      }
      strong {
        font-weight: $bold;
      }
      em {
        font-style: $italic;
      }
    }
    img {
      float: left;
      margin-right: 0;
    }
    &.sectionGray {
      background-color: $color-grayeee;
      padding: 30px 0px 30px 0px;
      border-left: 75px solid $color-white;
      border-right: 75px solid $color-white;
      @media #{$Medium} {
        padding: 0 0 30px 0;
        border-left: 10px solid $color-white;
        border-right: 10px solid $color-white;
        h2 {
          &.objectHeader {
            padding-top: 30px;
            @media #{$Medium} {
              padding-top: 0px;
            }
          }
        }
      }

      //padding: rem-calc(40) rem-calc(10) rem-calc(40) rem-calc(10);
      .sectionObject {
        //border: 1px solid #000;
        //padding: 0;
        .sectionHeaderLine {
          //border-top: $thin-grayccc;
          //margin: 0 rem-calc(22) rem-calc(20) rem-calc(22);
        }
        .contentElements{
          //padding: 0 rem-calc(30) 0 rem-calc(30);
          //border: 1px solid #000;
        }
      }
      img {
        margin: 0 rem-calc(20) 0 rem-calc(10);
        @media #{$Small} {
          display: block;
          padding-bottom: 10px;
          //border: 1px solid #000;
          margin-left: auto;
          margin-right: auto;
          float: none;
        }
      }
    }
  }
  .navArrows {
    background-image: $background-d;
    background-repeat: repeat;
    height: 71px;
    text-align: center;
    margin-top: rem-calc(60);
    margin-bottom: rem-calc(90);
    margin-left: auto;
    margin-right: auto;
    @media #{$Small} {
      display: none;
    }
    .arrowDown {
      display: inline-block;
      background: $SpriteSheet no-repeat 0px 0px;
      width: 52px;
      height: 26px;
      margin: rem-calc(22) rem-calc(11) 0 rem-calc(11);
      &:hover {
        background: $SpriteSheet no-repeat -142px 0px;
      }
    }
    .arrowUp {
      display: inline-block;
      background: $SpriteSheet no-repeat -67px 0px;
      width: 52px;
      height: 26px;
      margin: rem-calc(22) rem-calc(11) 0 rem-calc(11);
      &:hover {
        background: $SpriteSheet no-repeat -199px 0px;
      }
    }
  }
  .bigArrow {
    //border: 1px solid #000;
    //background-image: $background-d;
    height: 48px;
    text-align: center;
    margin-top: rem-calc(0);
    margin-bottom: rem-calc(30);
    margin-left: auto;
    margin-right: auto;
    @media #{$Small} {
      display: none;
    }
    .arrowDown {
      display: inline-block;
      background: $SpriteSheet no-repeat 0px -94px;
      width: 140px;
      height: 48px;
      //border: 1px solid #000;
      margin: 0;
      //&:hover {
      //  background: $SpriteSheet no-repeat -142px 0px;
      //}
      @media #{$Medium} {
        background: $SpriteSheet no-repeat 0px -52px;
        width: 122px;
        height: 40px;
      }
      @media #{$Small} {
        display: none;
      }
    }
  }
  img.banner {
    width: 100%;
    height: 40%;
    overflow: hidden;
  }
}

.sectionObject a, footer a,{
  color: $color-maroon;
  font-weight: $bold;
  &:hover {
    color: $color-gray666;
  }
}

footer {
  width: 100%;
  border-top: $thick-maroon;
  background-image: $background-d;
  background-repeat: repeat;
  padding-left: 20px;
  @media #{$Medium} {
    padding-left: 10px;
  }
  .footerNav {
    text-align: center;
    margin-top: rem-calc(35);
    margin-bottom: rem-calc(15);
    margin-left: auto;
    margin-right: auto;
    ul {
      list-style-type: none;
      text-transform: uppercase;
      li {
        display: inline-block;
        padding-right: rem-calc(11);
        &:last-of-type {
          padding-right: 0;
        }
      }
    }
  }
  h2 {
    font-size: $h5-font-size;
    padding: 0 0 0px 0;
    font-family: 'ComeniaSansCondBold';
    text-transform: uppercase;
    color: $color-gray555;
  }
  p {
    font-size: $footer-font-size;
    line-height: 15px; //19
    font-family: $font-lucida;
    color: $color-gray555;
    padding: 0px 0 7px 0;
  }
}


