@charset "utf-8";
/* CSS Document */

//
// Custom Styles 
//

// Media Query Starts
// @media #{$Five00} {}
// @media #{$Phone} {}
// @media #{$iPadPortrait} {} 
// @media #{$Desktop} {}

// @media #{$Small} {}
// @media #{$Medium} {}
// @media #{$Large} {}
// @media #{$xLarge} {}

// Fonts Sizes - OVERRIDE
  $h1-font-size: rem-calc(36); // $h1-font-size: rem-calc(44);  // not used yet
  $h2-font-size: rem-calc(22); // $h2-font-size: rem-calc(37);  // 22
  $h3-font-size: rem-calc(18); // $h3-font-size: rem-calc(27);  // 18

  $h4-font-size: rem-calc(14); // $h4-font-size: rem-calc(23);  // not used yet
  $h5-font-size: rem-calc(15); // $h5-font-size: rem-calc(18);  // not used yet
  $h6-font-size: rem-calc(16); // $h6-font-size: 1rem;          // not used yet

// Typical Paragraphs
  $paragraph-font-size: rem-calc(15); // 15 
  $footer-font-size: rem-calc(12); //12

// Backgrounds and Sprite Sheets
  $background-d: url('http://www.brooklyn.cuny.edu/web/sup_foundation/diagonals.png');
  $SpriteSheet: url('http://www.brooklyn.cuny.edu/web/sup_foundation/BOB_spriteSheet_256x142.png');

// Colors
  $color-maroon: #781a42; //#7c2142 BCF
  $color-maroon2: #5d0d2f;
  $color-black: #000;
  $color-white: #fff;
  $color-gray222: #222; // starting additional colors
  $color-gray444: #444;
  $color-gray555: #555;
  $color-gray666: #666;
  $color-grayccc: #ccc;
  $color-grayeee: #eee;
  $color-grayefe: #efefef;
  $color-gray404: #404040;

// Line Styles
  $thick-maroon: 8px solid $color-maroon; 
  $thin-gray666: 2px solid $color-gray666;
  $thin-grayccc: 1px solid $color-grayccc;
  $thin-maroon2: 2px solid $color-maroon2;

body {
  background-color: $color-white;
}


/* Header*/
header {
  width: 100%;
  //background-image: $background-d;
  //height: rem-calc(55);
  top:0px; 
  //margin:auto; 
  position: fixed;
  z-index: 1000;
  //background-color: #fff;
  section {
    //width: 100%;
    //position: fixed;
    //top:0px;
    background-image: $background-d;
    height: rem-calc(60);
    @media #{$Small} {
      height: rem-calc(45); // 45
    }
    .logo {
      position:fixed;
      top:0;
      //border: 1px solid #000;
      //z-index: 2;
      overflow: visible;
      padding: rem-calc(6) 0 0 rem-calc(20);
      width: 108px;
      height: 50px;
      @media #{$Medium} {
        padding: rem-calc(6) 0 0 rem-calc(20);
        width: 108px;
        height: 50px;
      }
      @media #{$Small} {
        padding: rem-calc(3) 0 0 rem-calc(5); // 5 5 
        width: 77px; // 107
        height: 40px; // 56
      }
    }
    .showPushMenu {
      cursor: pointer;
      display: inline-block;
      background: $SpriteSheet no-repeat -196px -42px;
      width: 55px;
      height: 55px;
      //margin: rem-calc(22) rem-calc(11) 0 rem-calc(11);
      //&:hover {
      //  background: $SpriteSheet no-repeat -142px 0px;
      //}
      @media #{$Small} {
        background: $SpriteSheet no-repeat -142px -42px;
        width: 45px;
        height: 45px;
      }
    }
    nav.topBar { 
      ul{
        list-style-type: none;
        text-transform: uppercase;
        margin:0;
        padding: rem-calc(16) 0 rem-calc(16) 0;
        //display: table;
        li {
          font-family: 'ComeniaSansCondBold';
          font-size: $h6-font-size;
          //color: $color-maroon;

          display: inline-block;
          padding: 0 rem-calc(33) 0 0;
          //display: table-cell;
          //vertical-align: middle;
          @media #{$Desktop} {
            padding-right: rem-calc(25); 
          }
          &:last-of-type {
            padding-right: rem-calc(20);
          }
          a {
            color: $color-gray222;
            text-decoration:none;
            //font-weight: $bold;
            &:hover {
              color: $color-gray666;
            }
          }
        }
      }
    }
    nav.cbp-spmenu {
      background: $color-white;
      position: fixed;
      &.cbp-spmenu-vertical {
        width: 240px;
        height: 100%;
        top: 60px;
        z-index: 1000;
        @media #{$Small} {
          top: 45px;
        }
      }
      ul{
        list-style-type: none;
        text-transform: uppercase;
        //display: table;
        li {
          font-family: 'ComeniaSansCondBold';
          font-size: $h6-font-size;
          //color: $color-maroon;

          display: block;
          padding: rem-calc(16) rem-calc(33) 0 0;
          //display: table-cell;
          //vertical-align: middle;
          &:last-of-type {
            padding-right: rem-calc(20);
          }
          &.hideForSmallOnly {
            @media #{$Small} {
              display: none;
            }
          }
          a {
            color: $color-gray222;
            text-decoration:none;
            //font-weight: $bold;
            &:hover {
              color: $color-gray666;
            }
          }
        }
      }
    }  
  }
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-right {
  right: -240px;
}

.cbp-spmenu-right.cbp-spmenu-open {
  right: 0px;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.cbp-spmenu-push-toright {
  left: 240px;
}

.cbp-spmenu-push-toleft {
  left: -240px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.anchor {
  position: relative;
  display: block;
  top: -78px;
  height: 0;
  width: 0;
  visibility: hidden;
}

/* Feature Image */

.featureTop {
  //&.sixty {
  //border-top: 60px solid $color-white;
    //@media #{$Small} {
      //border-top: 45px solid $color-white;
    //}
  //}
  &.seventy { 
    border-top: 70px solid $color-white;
    @media #{$Small} {
      border-top: 55px solid $color-white;
    }
  }
}

.featureContainer {
  @include vendor-prefix(height, 100vh);
  //background-image: url("http://www.brooklyn.cuny.edu/web/sup_foundation/BOB_starryBackground_1600x1145.jpg");
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
  border-top: 60px solid $color-white;
  position: relative;
  @media #{$Small} {
    border-top: 45px solid $color-white;
    //background-image: url("http://www.brooklyn.cuny.edu/web/sup_foundation/BOB_starryBackground_838x600.jpg");
  }
  overflow: hidden;
  .bgImage {
  }
  .featureImage {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    @include vendor-prefix(transform, translate(-50%, -62%)); //transform: translate(-50%, -60%); 
    //@media #{$Medium} {
    //  width: 50%;
    //  @include vendor-prefix(transform, translate(-50%, -60%)); //transform: translate(-50%, -60%);
    //}
    //@media #{$Small} {
    //  width: 30%;
    //  @include vendor-prefix(transform, translate(-50%, -60%)); //transform: translate(-50%, -60%);
    //}
  }
  .bigArrow {
    //border: 1px solid #000;
    //background-image: $background-d;
    z-index: 7;
    background-color: $color-white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    text-align: center;
    //padding-top: rem-calc(15);
    padding-bottom: rem-calc(30);
    margin-left: auto;
    margin-right: auto;
    @media #{$Small} {
      height: 60px;
    }
    .arrowDown {
      display: inline-block;
      background: $SpriteSheet no-repeat 0px -94px;
      width: 140px;
      height: 48px;
      //border: 1px solid #000;
      margin-top: 20px;
      //&:hover {
      //  background: $SpriteSheet no-repeat -142px 0px;
      //}
      @media #{$Medium} {
        background: $SpriteSheet no-repeat 0px -52px;
        width: 122px;
        height: 40px;
        margin-top: 15px;
      }
      //@media #{$Small} {
      //  display: none;
      //}
    }
  }
}



/*.featureWrapper {
  width:100%;
  min-height:100%;
  background-color: $color-maroon;
  box-sizing: border-box;
  .featureContainer {
    position:relative;
    width:100%;
    height:100%;
    background-image: url('../images/BOB_splash_1600x1145.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding:0 2.5%;
    display:table;
    padding-bottom:0;
    &:after{
      content:"";
      position:absolute;
      left:0;
      top:0;
      width:100%;
      height:100%;
      background-color:rgba(0, 0, 0, 0.2);
      z-index:0;
    }
    .featureImage {

    }
  }
}*/




/* Content */
.content {
  margin-top: 0px;
  .rowInside {
    //border: 1px solid #ccc;
    padding: 0px 75px 30px 75px;
    //border-left: 75px solid $color-white; 
    //border-right: 75px solid $color-white;
    @media #{$Medium} {
      padding: 0px 10px 10px 10px;
    }
    @media #{$Small} {
      padding: 0px 0px 0px 0px;
    } 
    &.splash {
      //border: 1px solid #000;
      padding: 30px 0px 30px 0px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
    .sectionObject {
      //border: 1px solid #000;
      padding: 0px 30px 0px 30px;
      @media #{$Medium} {
        padding: 10px 10px 0px 10px;
      }
      @media #{$Small} {
        padding: 10px 10px 10px 10px;
      }
      .sectionHeaderLine {
        border-top: $thin-grayccc;
        margin: 0 rem-calc(0) rem-calc(20) rem-calc(0);
      }
      .contentElements {
        //border: 1px solid #000;
        margin: 0 rem-calc(0) 0 rem-calc(0);
        padding: 0 rem-calc(10) 0 rem-calc(10);
        @media #{$Small} {
          padding: 0px 0px 0px 0px;
        }
      }
      .featureTop {
        //margin: 20px 10px 15px 10px;
      }
      .featureBottom {
        //margin: 20px 10px 0px 10px;
      }
      .iconGray{
          background-color: $color-grayeee;
        }
      .icon {
        //border: 1px solid #000;
        display: table;
        height: 65px;        
        padding: 5px 0 0px 0;
        margin: 15px 0px 15px 0px;
        &:last-of-type{
          padding-bottom: 0px;
        }
        img {
          //border: 1px solid #000;
          display: table-cell;
          float: left;
          margin: 0 rem-calc(10) 0 rem-calc(10);
          //position: relative;
          //top: 50%;
          //transform: translateY(-50%);
        }
        p {
          //border: 1px solid #000;
          display: table-cell;
          vertical-align: middle;
          //position: relative;
          //top: 45%;
          //transform: translateY(-50%);
          //margin-left: 75px;
        }
      }
      .bobButtonW {
        margin: 20px 10px 15px 10px;
      }
      .bobButton {
        //height: 55px;
        background-color: $color-maroon;
        border: $thin-maroon2;
        padding: 17px 0px 17px 0;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        &:hover {
          border: $thin-maroon2;
          background-color: $color-gray404;
          border: $thin-gray666;
        }
        p {
          color: $color-white;
          font-size: $h2-font-size;
          font-family: 'ComeniaSansCondBold';
          text-transform: uppercase;
        }
      }
      .map {
        position: relative;
        padding-bottom: 100%;
        //padding: 0 10px 100% 10px;
        margin: 0px 0px 10px 0px;
        height: 0;
        overflow: hidden;
        iframe {
          position: absolute;
          top:0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
      img {
        float: left;
        margin: 0 rem-calc(20) 0 rem-calc(10);
        @media #{$Small} {
          margin: 0 rem-calc(20) 0 0;
        }
      }
      h1 {
        font-family: 'ComeniaSansCondBold';
        font-size: $h1-font-size;
        color: $color-gray444;
      }
      h2 {
        //border: 1px solid #000;
        font-size: $h2-font-size;
        font-family: 'ComeniaSansCondBold';
        color: $color-gray444;
        padding: 0 0 10px 0;
        margin: 0 0 0 0;
        &.objectHeader {
          text-transform: uppercase;
          text-align: center;
          padding: 0 0 0 0;
          margin: 0 0 0 0;
          line-height: 24px;
          @media #{$Small} {
            font-size: rem-calc(20);
            line-height: 21px;
          }
        }
      }
      h3, h4, h5, h6 {
        //border: 1px solid #000;
        font-size: $h3-font-size;
        font-family: $font-lucida-Demibold;
        color: $color-black;
        padding: 15px 0 2px 0;
        margin: 0 0 0 0;
        line-height: 22px; //22
        &:first-of-type {
          padding-top: 0;
        }
      }
      p {
        //border: 1px solid #000;
        font-size: $paragraph-font-size;
        font-family: $font-lucida;
        color: $color-black;
        padding: 3px 0 15px 0;
        margin: 0 0 0 0;
        line-height: 19px; //19
        &:first-of-type {
          padding-top: 0;
        }
        &:last-of-type {
          padding-bottom: 0;
        }
      }
      ul {
        li {

        }
      }
      strong {
        font-weight: $bold;
      }
      em {
        font-style: $italic;
      }
      .pdfListItem {
        display: inline-block;
        padding: 0 20px 0 10px;
      }
    }
    img {
      float: left;
      margin-right: 0;
    }
    &.sectionGray {
      background-color: $color-grayeee;
      padding: 30px 0px 30px 0px;
      border-left: 75px solid $color-white;
      border-right: 75px solid $color-white;
      @media #{$Medium} {
        padding: 0 0 30px 0;
        border-left: 10px solid $color-white;
        border-right: 10px solid $color-white;
        h2 {
          &.objectHeader {
            padding-top: 30px;
            @media #{$Medium} {
              padding-top: 0px;
            }
          }
        }
      }

      //padding: rem-calc(40) rem-calc(10) rem-calc(40) rem-calc(10);
      .sectionObject {
        //border: 1px solid #000;
        //padding: 0;
        .sectionHeaderLine {
          //border-top: $thin-grayccc;
          //margin: 0 rem-calc(22) rem-calc(20) rem-calc(22);
        }
        .contentElements{
          //padding: 0 rem-calc(30) 0 rem-calc(30);
          //border: 1px solid #000;
        }
      }
      img {
        margin: 0 rem-calc(20) 0 rem-calc(10);
        @media #{$Small} {
          display: block;
          padding-bottom: 10px;
          //border: 1px solid #000;
          margin-left: auto;
          margin-right: auto;
          float: none;
        }
      }
    }
  }
  .navArrows {
    background-image: $background-d;
    background-repeat: repeat;
    height: 71px;
    text-align: center;
    margin-top: rem-calc(60);
    margin-bottom: rem-calc(90);
    margin-left: auto;
    margin-right: auto;
    @media #{$Medium} {
      margin-top: rem-calc(40);
      margin-bottom: rem-calc(40);
    }
    @media #{$Small} {
      display: none;
    }
    &.last {
      margin-bottom: rem-calc(0);
    }
    .arrowDown {
      display: inline-block;
      background: $SpriteSheet no-repeat 0px 0px;
      width: 52px;
      height: 26px;
      margin: rem-calc(22) rem-calc(11) 0 rem-calc(11);
      &:hover {
        background: $SpriteSheet no-repeat -142px 0px;
      }
    }
    .arrowUp {
      display: inline-block;
      background: $SpriteSheet no-repeat -67px 0px;
      width: 52px;
      height: 26px;
      margin: rem-calc(22) rem-calc(11) 0 rem-calc(11);
      &:hover {
        background: $SpriteSheet no-repeat -199px 0px;
      }
    }
  }
}

/* Anchors */
.sectionObject a, footer a,{
  color: $color-maroon;
  font-weight: $bold;
  text-decoration: none;  
  &:hover {
    color: $color-gray666;
  }
}

/* Footer */
footer {
  width: 100%;
  //border-top: $thick-maroon;
  //background-image: $background-d;
  //background-repeat: repeat;
  //padding: 0 rem-calc(20) 0 rem-calc(20);
  //@media #{$Medium} {
  //  padding: 0 rem-calc(10) 0 rem-calc(10);
  //}
  section {
    padding: 0 rem-calc(20) 0 rem-calc(20);
    background-image: $background-d;
    background-repeat: repeat;
    @media #{$Medium} {
      padding: 0 rem-calc(10) 0 rem-calc(10);
    }
    &.topLine {
      border-top: $thick-maroon;
    }
  }
  .footerNav {
    text-align: center;
    margin-top: rem-calc(35);
    margin-bottom: rem-calc(15);
    margin-left: auto;
    margin-right: auto;
    ul {
      list-style-type: none;
      text-transform: uppercase;
      padding: 0;
      li {
        display: inline-block;
        padding: 0 rem-calc(6) 0 rem-calc(5);
        &.hideForSmallOnly {
          @media #{$Small} {
            display: none;
          }
        }
      }
    }
  }
  h2 {
    font-size: $h5-font-size;
    //padding: 0 0 0px 20px;
    font-family: 'ComeniaSansCondBold';
    text-transform: uppercase;
    color: $color-gray555;
    @media #{$Medium} {
      //padding: 0 0 0px 20px;
    }
  }
  p {
    font-size: $footer-font-size;
    line-height: 15px; //19
    font-family: $font-lucida;
    color: $color-gray555;
    //padding: 0px 0 7px 20px;
    @media #{$Medium} {
      //padding: 0 0 0px 10px;
    }
  }
}


